main {
    width: 100%;
    min-height: 77vh;
    /* background-color: cadetblue; */
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    row-gap: 1rem;
}